.react-tabs__tab-list {
  margin: 0 0 -1px;
  padding: 10px;
  background-color: #fff;
}

.react-tabs__tab {
  display: inline-block;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 50%;
}

.react-tabs__tab--selected {  
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 15px -4px #b0b0b0;
}
