.dashheader {
  display: grid;
  grid-template-columns: 60% auto auto auto;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.logoSection {
  /* width: 60%; */
  padding-top: 1rem;
}

.menuSection {
  /* width: 100%; */
  padding-top: 1rem;
  text-align: end;
}

.navSection {
  /* width: 20%; */
  padding-top: 1rem;
  text-align: end;
}

.profileSection {
  /* width: 20%; */
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #7a00cc;
}

.imgLogo {
  width: 100%;
  max-width: 150px;
  padding: 0.5rem;
}

.menuButton {
  max-width: 200px;
}

.swapButton {
  padding: 1rem;
}

.twoBoxgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.dashboardSection {
  width: 100%;
}

.dashboardData {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin-top: 2%;
  /* padding: 20px; */
  text-align: center;
}

figcaption {
  font-size: 1rem;
}

figure {
  padding: 0;
  margin-top: 0;
}

figcaption {
  font-size: 1rem;
}

.dashboardData img {
  max-width: 75px;
}

.dashboardTitle {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  height: 40px;
  padding-top: 0.5rem;
}

.searchForm {
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

@media only screen and (max-width: 1024px) {
  .dashheader {
    grid-template-columns: 20% auto auto auto;
  }
  .logoSection {
    text-align: center;
    background-image: url(../img/icons/small_logo.ico);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgLogo {
    display: none;
  }

  .menuSection {
    display: none;
  }

  .menuButton {
    width: auto;
    font-size: 0.75rem;
    font-weight: 600;
    width: -webkit-fill-available;
  }

  .dashboardSection {
    width: 100%;
  }

  .dashboardTitle {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    height: 40px;
  }

  .dashboardData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2%;
    padding: 10px;
  }

  figure {
    padding: 0;
    margin-top: 0;
  }

  .navSection {
    padding-top: 1rem;
    text-align: end;
  }

  .searchForm {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 769px) {
  .dashheader {
    grid-template-columns: 10% auto 10%;
  }

  .logoSection {
    text-align: center;
    background-image: url(../img/icons/small_logo.ico);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgLogo {
    display: none;
  }

  .menuButton {
    width: auto;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .dashboardSection {
    width: 100%;
  }

  .dashboardTitle {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    height: 40px;
  }

  .dashboardData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2%;
    padding: 10px;
  }

  figure {
    padding: 0;
    margin-top: 0;
  }

  .navSection {
    padding-top: 1rem;
    text-align: end;
  }

  .searchForm {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
  }
}
