.profileRowThreeColumn {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.profileRowTwoColumn {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  padding: 1rem;
}

.profileRowFourColumn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding: 1rem;
}

.rowTopBottomPadding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.commDiv {
  font-size: 1rem;
}

.rowTwoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.rowTwoColumnKYC {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rowThreeColumn {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 1rem;
}

.rowThreeColumnKYC {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.userImg {
  text-align: center;
}

.userImg img {
  width: 65px;
}

.textRegular {
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
}

.helpPara {
  font-size: 0.75rem;
  color: #7b7b7b;
  text-align: justify;
  padding: 1rem;
}

.feedbackRowFourColumn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding: 1.25rem;
  background-color: #dadada6e;
  border-radius: 6px;
}

.profileBox {
  box-shadow: 0px 4px 15px -3px #b0b0b0;
  border-radius: 5px;
  text-align: center;
  background-color: #1e1e1e;
  color: #b0b0b0;
  padding: 1rem;
}

.profileDataBox {
  box-shadow: 0px 4px 15px -3px #b0b0b0;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}

.profileTitle {
  font-size: 0.85rem;
  text-align: left;
  font-weight: 500;
}

.profileName {
  font-size: 0.8rem;
  text-align: left;
  font-weight: 500;
  padding-left: 1.25rem;
}

.profileImg {
  width: 100%;
  max-width: 100px;
}

.userTitle {
  font-size: 0.9rem;
  padding: 1rem;
}

.userPrefDiv {
  display: grid;
  grid-template-columns: 20% 80% 1fr;
  box-shadow: 0px 4px 15px -3px #b0b0b0;
  border-radius: 5px;
}

.mediumBoldFont {
  font-size: 1.25rem;
  font-weight: 400;
  text-wrap: wrap;
}

.mediumBoldFontCenter {
  font-size: 1.25rem;
  font-weight: 400;
  text-wrap: wrap;
  text-align: center;
}

.userInfoDiv {
  display: grid;
  grid-template-columns: 70% 30% 1fr;
  padding-bottom: 1.5rem;
}

.LeftMenu {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  color: #fff;
  padding: 10px;
}

.menuButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  font-size: 1rem;
}

.buttonIcon {
  font-size: 2rem;
}

.buttoText {
  font-size: 1rem;
  padding: 1rem;
}

.menuTitle {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 1rem;
  text-align: justify;
}

.userProfileDiv {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  color: #1e1e1e;
}

.profileFeedback {
  font-size: 1.25rem;
  color: #7a00cc;
}

.feedbackTitle {
  font-size: 1rem;
  font-weight: 500;
}

.paddingTopBottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .profileRowThreeColumn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    text-wrap: wrap;
  }

  .reThreeColumn {
    padding: 1rem;
  }

  .userPrefDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  .userInfoDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  .userTitle {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
  }

  .userLeftMenu {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    font-size: 0.85m;
    font-weight: 500;
    text-wrap: wrap;
  }

  .mediumBoldFont {
    font-size: 1rem;
  }

  .mediumBoldFontCenter {
    font-size: 1rem;
  }

  .menuTitle {
    font-size: 0.85rem;
    padding: 0.85rem;
    text-align: center;
  }
}

@media only screen and (max-width: 769px) {
  .profileRowThreeColumn {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .userTitle {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
  }

  .userPrefDiv {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .userInfoDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  .userLeftMenu {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    font-size: 0.75m;
    font-weight: 500;
    text-wrap: wrap;
  }

  .menuTitle {
    font-size: 0.85rem;
    text-align: center;
  }

  .mediumBoldFont {
    font-size: 0.85rem;
  }

  .mediumBoldFontCenter {
    font-size: 0.85rem;
  }

  .feedbackTitle {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .rowThreeColumnKYC {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .rowTwoColumnKYC {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 412px) {
  .profileRowTwoColumn {
    grid-template-columns: repeat(2, 1fr);
  }

  .rowTwoColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .rowTwoColumnKYC {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .userPrefDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  .userTitle {
    font-size: 0.85rem;
    font-weight: 500;
    padding: 1rem;
  }

  .userLeftMenu {
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5rem;
    font-size: 0.65m;
    font-weight: 500;
  }

  .menuTitle {
    font-size: 0.85rem;
    text-align: center;
  }

  .feedbackTitle {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .mediumBoldFont {
    font-size: 0.85rem;
  }

  .mediumBoldFontCenter {
    font-size: 0.85rem;
  }
}

@media (max-width: 344px) {
  .profileBox {
    max-width: 100%;
  }

  .profileDataBox {
    max-width: 100%;
  }

  .profileRowTwoColumn {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .profileRowFourColumn {
    grid-template-columns: repeat(2, 1fr);
  }

  .userPrefDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  .userLeftMenu {
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5rem;
    font-size: 0.65m;
    font-weight: 500;
  }

  .feedbackTitle {
    font-size: 0.85rem;
    font-weight: 500;
  }
}
