.header {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  min-height: 50px;
  margin-top: 5px;
  background-color: #fff;
}

.logo {
  width: 150px; /* Adjust the size as needed */
  padding: 0.5rem;
  height: auto;
  margin-right: 10px;
}

.menubar {
  justify-self: end;
}

.topbar {
  font-size: larger;
}

.liverate {
  font-size: medium;
  font-weight: 500;
}

.headerButton {
  background-color: #7a00cc; /* Purple */
  min-width: 150px;
  max-width: 200px;
  color: #fff;
  font-size: large;
  font-weight: 600;
  border: 0px;
  padding: 5px;
  align-content: end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section {
  /* background-image: linear-gradient(to bottom, #292929, #e4e4e4c1); */
  min-height: 950px;
  clear: both;
  box-shadow: 2px 2px 10px 2px #b0b0b0;
}

.banner {
  max-height: 500px;
  padding: 1rem;
  margin-top: 3rem;
  color: #6457ff;
}

.banner__content {
  margin-top: 10rem;
}

.banner__content h1 {
  font-family: fantasy;
  color: #6457ff;
}

.banner__text {
  text-align: left;
  margin-left: 0;
  color: #2b2b2b;
}

.infobox {
  margin: 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #b0b0b0;
}

.usp {
  background-color: #fff;
  height: 175px;
  padding: 1.5rem;
}

.uspcard {
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;

  width: auto;
}

.usp_img {
  width: auto;
  min-height: 90px;
}

figure {
  padding: 2rem;
  margin-top: 1rem;
}

figcaption {
  font-size: 1.25rem;
  font-family: monospace;
  color: #6457ff;
}

.figbody {
  font-family: system-ui;
  text-align: justify;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #2b2b2b;
}

.featurebody {
  font-family: system-ui;
  text-align: justify;
  color: #2b2b2b;
  margin-top: 0.75rem;
}

main {
  min-height: 80vh;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  margin-top: 350px;
  clear: both;
}

.HowDoes {
  font-size: 1.75rem;
  font-family: fantasy;
  color: #6457ff;
  padding-top: 1rem;
}

.prospects {
  font-family: system-ui;
  font-size: small;
  font-weight: 700;
  color: #535353;
}

.footer {
  background-color: #2b2b2b;
  color: #fff;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 0;
    clear: both;
  }

  section {
    min-height: fit-content;
  }

  .infobox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }

  .banner {
    width: auto;
    max-width: 100%;
    margin-top: 2rem;
  }

  .banner__content {
    margin-top: 10rem;
    text-align: center;
  }

  .banner__text {
    text-align: center;
  }

  .HowDoes {
    font-size: 1.25rem;
  }

  .reviewContainer {
    display: flex;
    min-height: 450px;
    background-color: #535353;
  }

  .reviewSlider {
    height: 450px;
    width: 600px;
  }
}

@media only screen and (max-width: 769px) {
  main {
    margin-top: 210%;
    clear: both;
  }

  .infobox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }

  .banner {
    width: auto;
    max-width: 100%;
    margin-top: 2rem;
  }

  .banner__content {
    margin-top: 2rem;
    text-align: center;
  }

  .banner__text {
    text-align: center;
  }

  .HowDoes {
    font-size: 1.25rem;
  }
}
