*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling 
} */

/* Your custom styles */
body {
  display: block;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #7a00cc;
}

.dropdown-menu.show {
  display: block;
  width: -webkit-fill-available;
}

.dropdown-item {
  padding: 5px;
  text-align: center;
}

a {
  color: #7a00cc;
}

.fullHeight {
  min-height: calc(100vh - 150px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error-img {
  height: fit-content;
}

.container-fluid {
  padding: 1.5rem;
  padding-bottom: 0;
}

.button {
  max-width: 150px;
  background-color: #7a00cc;
}

.form-check-label {
  font-size: 0.65rem;
  font-weight: 500;
}

.form-check-input:checked {
  background-color: #7a00cc;
  border-color: #7a00cc;
}

.alice-carousel {
  height: 150px;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
